<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script src="../static/ansi_up.js" type="text/javascript"></script>
    <script src="../static/xlog-1.0.7.js"></script>
    <link rel="stylesheet" href="../static/xlog.css">
    <style>

        .box{
            width: 80%;
            margin: 0 auto;
        }

        .show {
            width: 100%;
            height: 500px;

            padding: 10px;
            background-color: black;
            color: white;

            display:block;
            overflow:auto;
            word-break:keep-all;
            white-space:pre;
            text-overflow:ellipsis;

        }

        .common {
            width: 100%;
            height: 50px;
        }

        .common-input {
            width: 80%;
        }
        .common-button {
            width: 18%;
        }
    </style>

</head>


<body>
<div class="box">


    <div class="">
        IP:<input id="ip" type="text" value="127.0.0.1"/>
        Port:<input id="port" type="text" value="12306"/>

        <button type="button" onclick="openSession()">open</button>
        <button type="button" onclick="closeSession()">close</button>

    </div>

    <div contenteditable id="myby" class="show"></div>
    <div style="display:none" class="common">
        <input style="display:none" id="common-value" class="common-input" type="text" value="" placeholder="send your command" />
        <button style="display:none" class="common-button" type="button" onclick="sendCommend()">Send</button>
    </div>
</div>

</body>

<script>
    let val = '';
    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket("ws://localhost:8080/websocket/telnet".replace("http", "ws"));
        //打开事件
        socket.onopen = function() {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function(msg) {
            val = (val + msg.data).replace("2004h","X");
            show(val)
        };
        //关闭事件
        socket.onclose = function() {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
    }

    function sendCommend() {
        var common = $("#common-value").val();
        if (common.length === 0) {

            console.log($(".show").html());

            let currentVal = $(".show").html();

            let number = currentVal.lastIndexOf(';');

            let commonResult = currentVal.slice(number + 1);

            send(commonResult);
        } else {
            $("#common-value").val("");
            $(".show").append(common);
            send(common);
        }
    }

    function show(value) {
        // var txt  = "[32m*** Welcome to XPocket-Cli[m [32m***[m\n";
        var ansi_up = new AnsiUp;

        var html = ansi_up.ansi_to_html(value);

        $(".show").html(html);

        var divscll = document.getElementById('myby');
        divscll.scrollTop = divscll.scrollHeight;
    }


    document.onkeydown = function (event) {
        var e = event || window.event;
        if (e && e.keyCode == 13) { //回车键的键值为13
            sendCommend();
        }
    };


    function send(common) {
        $.get("/telnet/sendCommon",{common:common},function (res) {
            console.log(res)
        })
    }

    function openSession() {

        $.get("/telnet/open",{ip:$("#ip").val(),port:$("#port").val()},function (res) {
            console.log(res)
        })
    }

    function closeSession() {
        $.get("/telnet/close",function (res) {
            console.log(res)
        })
    }


</script>
</html>